DATABASE_DEV="elipsedev"
DATABASE_PROD="elipse"
SEARCH_PATH="/opt/airflow/dags/deployments"
SEARCH_PATH_GLOBAL="/opt/airflow/dags/global_files"
AIRFLOW_PROJ_DIR="."
DRIVER_PATH="/mnt/docker-volumes"
AIRFLOW_UID=1000

DOCKER_REGISTRY="10.2.24.20:5000/"
AIRFLOW_IMAGE_NAME="${DOCKER_REGISTRY:-}airflow-gre:2.10.5"

SHAREPOINT_USERNAME="...@grendene.com.br"
SHAREPOINT_USER_PASSWORD="Num#sey123"
